<!DOCTYPE html>
<html ng-app="studentTracker">
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<script src="js/jquery-1.12.4.min.js"></script>
  <script type="js/bootstrap.min.js"></script>
	<script src="ng/lib/angular.min.js"></script>
  <script src="ng/ngApp.js"></script>
  <script src="ng/controllers/homeController.js"></script>
  <script src="ng/controllers/loginController.js"></script>
  <script src="ng/controllers/navController.js"></script>
	<script src="ng/services/authenticationService.js"></script>
</head>
<body>
	