<div class="container">
  <div class="row">
    <div class="col-md-2 list-group">
      <a href="" class="list-group-item list-group-item-info disabled">
        <strong>Cohorts</strong>
      </a>
      <button type="button" class="list-group-item">SD6</button>
      <button type="button" class="list-group-item">SD7</button>
      <button type="button" class="list-group-item">SD8</button>
        
    </div>
    <div class="col-md-10">
      <table class="table table-striped table-hover" >
        <thead>
          <tr>
            <th>
                Name
            </th>
            <th class="text-center">
              SD
            </th>
            <th class="text-center">
              W/R
            </th>
            <th class="text-center">
              Exam
            </th>
            <th class="text-center">
              Interview
            </th>
            <th class="text-center">
              Logic
            </th>
            <th class="text-center">
              Offer
            </th>
            <th class="text-center">
              Deposit
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in stuvm.students" 
          style="{{stuvm.styleHasPaid(student.applications[0].deposit.hasPaid)}}">
            <td>{{student.name}}</td>
            <!-- This needs to be dynamic, add cohort to seed data -->
            <td class="text-center">SD6 </td>
            <!-- writing/resume -->
             <td ng-show="{{student.applications[0].writing_resume.is_ok}}" class="text-center"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
            <td ng-hide="{{student.applications[0].writing_resume.is_ok}}"></td>
            <!-- exam -->
            <td ng-show="{{student.applications[0].exam.is_ok}}" class="text-center"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
            <td ng-hide="{{student.applications[0].exam.is_ok}}"></td>
            <!-- interview -->
            <td ng-show="{{student.applications[0].interview.is_ok}}" class="text-center"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
            <td ng-hide="{{student.applications[0].interview.is_ok}}"></td>
            <!-- logic -->
            <td ng-show="{{student.applications[0].logic.is_ok}}" class="text-center"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
            <td ng-hide="{{student.applications[0].logic.is_ok}}"></td>
            <!-- offer -->
            <td ng-show="{{stuvm.checkDate(student.applications[0].offer_date)}}" class="text-center">{{student.applications[0].offer_date | date:'MM/dd'}}</td>
            <td ng-hide="{{stuvm.checkDate(student.applications[0].offer_date)}}" class="text-center"></td>
            <!-- deposit -->
            <td ng-show="{{student.applications[0].deposit.hasPaid}}" class="text-center"><i class="fa fa-usd" aria-hidden="true"></i></td>
            <td ng-hide="{{student.applications[0].deposit.hasPaid}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>