<%- include('partials/head') %>
<%- include('partials/header') %>
<style>
.input-group {
	text-align: center;
	width:100%;
}

.input-group .form-control {
	margin-bottom: 0.5em;
}

</style>
	<div class="container" ng-controller="loginController">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="well col-md-6">
				<form>
					<div class="input-group">
						<input type="text" class="form-control" ng-model="credentials._id"
							placeholder="Username">
						<input type="password" class="form-control" ng-model="credentials.password"
							placeholder="Password">
						<button type="submit" class="btn btn-success" ng-click="doLogin(credentials)">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<%- include('partials/footer') %>